<form action="/admin/search_recipes/search" method="get">
    <fieldset>
        <table class="index_table">
            <thead>
                <th>Niveau 1-40</th>
                <th>Niveau 41-80</th>
                <th>Niveau 81-120</th>
                <th>Niveau 121-160</th>
                <th>Niveau 161-200</th>
            </thead>
            <tbody>
                <% cards = [(1..40), (41..80), (81..120), (121..160), (161..200)].map do |range|
                    Card.where(level: range).order(:name)
                end
                max_size = cards.map(&:size).max
                even = false
                (0...max_size).each do |card_index|
                    %> <tr <%= even ? "class=even" : "" %>> <%
                    (0...(cards.size)).each do |range_index|
                        card = cards[range_index][card_index]
                        %> <td> <%
                        unless card.nil? %>
                            <input type="checkbox" name="<%= card.id %>" <%= (params[:card_ids] || []).include?(card.id) ? "checked" : "" %>>&nbsp;&nbsp;<%= card.name %>
                        <% end %>
                    <% end
                    even = !even %>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div>
            <input type="submit" value="Chercher">
        </div>
    </fieldset>
</form>