<% if resource.errors.any? %>
  <div id="error_explanation" align="left">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>&nbsp;<%= message.sub("Email", "Login") %></li>
      <% end %>
    </ul>
  </div>
<% end %>
