// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

$skinMainFirstColor: #4E4E4E!default;
$skinMainSecondColor: #b70000!default;
$skinBorderWindowColor: #595959!default;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";
@import "wigu/active_admin_theme";

// Overriding any non-variable Sass must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }


// * { font-family: 'Courier New', Courier, monospace; }
table.index_table th { color: white }
table.index_table th a, table.index_table th a:link, table.index_table th a:visited {
    color: white
}
.panel h3 {
    font-weight: bold;
    font-size: larger;
}
h3 a, h3 a:link, h3 a:visited {
    color: white;
    text-decoration: underline;
}
.pagination a {
    color: white;
}
.login_panel {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
* { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}